*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Farvevarianter til hjemmesiden*/
:root {
    --main-bg: #FDF9F0;
    --main-text-color: #4A3535;
    --main-text-color2: #FEFEFE;
    --main-color1: #A62723;
    --main-color2: #1A2270;
}

.nav-bar {
  background: var(--main-color1);
  color: var(--main-text-color2);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
}

.nav-icons span {
  margin-left: 1rem;
  cursor: pointer;
}

/* BANNER */
.banner {
  padding: 2rem 1rem;
}

.banner-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-bottom: 2rem;
}

.banner-item {
  background: #000;
  color: var(--main-bg);
  padding: 4rem 0;
}

.banner-text h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.banner-text h2 {
  font-size: 1rem;
  line-height: 1.5;
}